<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link th:href="@{/styles/bootstrap/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/styles/fontawesome/all.css}"
          rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}"
            type="text/javascript"></script>
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-dark mb-3">
        Cambia tu Password
    </div>
    <div class="card-body">
        <form th:action="@{/auth/cambiar}" method="post">
            <div class="mb-3">

                <label for="password" class="form-label">Nueva Password</label>
                <input maxlength="15" type="password" class="form-control"
                       name="password" id="password1">
                    <label for="password" class="form-label">Repita NuevaPassword</label>
                    <input maxlength="15" type="password" class="form-control"
                           name="password" id="password">

            </div>
            <a class="btn btn-primary" th:href="@{/auth/login}"
               role="button">Guardar</a>
        </form>
    </div>
</div>
</body>
</html>